.detail{
  display: flex;
}
.menu-icon {
  display: none;
}
.detail--menu{
  width: 20%;
  background-color: rgb(247, 199, 136);
  padding: 1em;
}
.menu--title{
  margin-bottom: 1em;
  padding-top: 0.6em;
  font-weight: bold;
}
.detail--event{
  width: 80%;
}
.menu--input{
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 3em;
  margin-bottom: 1em;
  padding-left: 0.5em;
}
.menu--label{
  margin-left: 0.3em;
}
.menu--radio{
  display: flex;
  flex-direction: column;
}
.radio--choice{
  margin-bottom: 0.5em;
}
.detailmenu--submitButton{
  border-radius: 5px;
  border: none;
  width: 5em;
  height: 3em;
  background-color: #ff5757;
}
.detailmenu--submitbutton:hover {
  border: solid, 2px, rgb(139, 5, 17);
}
.event--titleAndAuthor{
  margin: 2em;
  display: flex;
  height: 4em;
}
.event--title{
  width: 70%;
  text-align: center;
  font-size: 1.5em;
}
.event--avatar{
  width: 10%;
}
.event--author{
  width: 25%;
}
.eventDescription{
  margin: 2em;
  display: flex;

  &--picture{
    padding: 1em;
    width: 30%;
    margin: 1em
  }
  &--text{
    background-color: rgb(247, 199, 136) ;
    border-radius: 2%;
    padding: 1em;
    width: 30%;
    text-align: justify;
    margin: 1em;
  }
  &--informations{
    background-color: rgb(247, 199, 136) ;
    border-radius: 2%;
    width: 30%;
    margin: 1em;
    display: flex;
    flex-direction: column;

    &--title{
      margin: 1em;
      font-weight: bold;
      font-style: italic;
    }
    &--date{
      margin: 1em;
      & span{
        margin-bottom: 1em;
        font-weight: bold;
      }
    }
    &--address{
      margin: 1em;
      & span{
        font-weight: bold;
      }
    }
    &--participant{
      margin: 1em;
      & span{
        font-weight: bold;
      }
    }
  }
}
.participation{
  display: flex;
  justify-content: center;
 
  &--button{
  border-radius: 5px;
  border: none;
  width: 8em;
  height: 3em;
  background-color: #ff5757;
  }
}
@media screen and (max-width:800px){
  .event--titleAndAuthor{
    margin: 2em;
    display: flex;
  }
  .detail--event{
    display: flex;
    flex-wrap: wrap;
  }
  .event--titleAndAuthor{
    width: 100%;
  }
  .eventDescription{
    flex-direction: column;
    width: 100%;
    margin: 0%;

    &--picture{
      width: 90%;
      margin: auto;
    }
    &--text{
      width: 90%;
      margin: auto;
      margin-bottom: 1em;;
    }
    &--informations{
      width: 80%;
      margin: auto;
    }
  }
  .participation--button{
    margin: auto;
  }

  //burger
  .detail--menu--head{
    width: 100%;
    height: 80px;
    min-width: 100%;
    position: absolute;
    top: 80px;
    background-color: rgb(247, 199, 136);
    opacity: 1;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top:0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .detail--menu{
    width: 100%;
    // height: 100%;
    min-width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    background-color: rgb(247, 199, 136);
    transition: all 0.5s ease;
  }
  .detail--menu.active{
    background-color: rgb(247, 199, 136);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .menu--title{
    font-size: 2em;
  }
  .menu--input{
    margin: auto, 1em, auto, 1em;
  }
  .menu--radio{
    padding-left: 2em;
  }
  .radio--choice{
    margin-bottom: 2em;
    & label{
      font-size: 1.5em;
    }
  }
  .detailmenu--submitButton{
    width: 50%;
    // height: 5%;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 1.5em;
  }

}
