.categories--ancre{
  display: flex;
  justify-content: space-around;
  margin: 1em;
  &--indiv{
    color: #fff;
    background-color: #c2859f;
    font-weight: bold;
    padding: 0.6em;
    border-radius: 5px;
  }
}
.fleche--up{
  display: flex;
  justify-content: flex-end;
}
.fas{
  margin-right: 1em;
}

