.peoples{
  max-width: 80%;
  display:flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.person {
 width: 30%;

}

.image {
 max-width: 80%;
 margin-left: auto;
 margin-right: auto;
 display: block;
 position: relative;
}

.person:hover .text {
 visibility: visible;
 opacity: 1;
 margin-bottom: 20px;
text-align: center;
}

.text {

 text-align: center;
 visibility: hidden;
 opacity: 0;
 transition: opacity .2s, visibility .2s;
 vertical-align: middle;
 margin-bottom: 20px;
 max-width: 100%;
 margin: auto;
 margin-top: 20px;
 font-size: 18px;
 color: #2a0944;

 // line-height: 90px;
}
 .about-title {
 text-align: center;
 margin-bottom: 20px;
 font-size: 24px;
 margin-top: 20px;
 color: #2a0944;
 font-weight: bold;
}


@media (max-width: 800px) {
 
 .peoples {
   display: flex;
   flex-direction: column;
  
 }
 .person {
   min-width: 100%;
   margin-bottom: 20px;
   property:initial;
 }
.text {
  visibility: visible;
}
}
