/* Issues */
/* margin bottom after about div */

.about-us--tittle{
  font-size: 3em;
  font-weight: lighter;
  margin-top: 1em;
  margin-bottom: 1em;
}
.peoples{
   max-width: 80%;
   display:flex;
   flex-wrap: wrap;
   margin: auto;
   justify-content: center;
}

.person {
  width: 30%;
 margin:1em;
 height: 30em;
 box-shadow: -5px 5px 10px rgb(0,0,0,0.3); /* box-shadow: 10px 5px 5px red; */
}

.image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* border-radius: 50% ; */
  /* padding: 1em;  */
  background-color:white; 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  
}
.person-text{
  text-align: center;
  margin-top: 1em;
}
.person-name {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
.tittle-work{
  font-size: 1em;
  font-weight: lighter;
}


@media (max-width: 800px) {
  
  .peoples {
    // display: flex;
    flex-direction: column;
  }
  .person {
    min-width: 100%;
  }
}
