@use 'src/styles/vars';

.not-found {
  margin: vars.$gutter;
  text-align: center;
  color: white;

  &-link {
    color: rgb(216, 102, 9);
    padding-top: 1em;

    &:hover {
      text-decoration: underline;
    }
  }
}

.notfound {
  margin-top: 50px;
}
.images {
  display: flex;
}
.image {
    animation: rotation 2s infinite linear;
    max-height:200px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.title-h1 {
  color: black;
}
