@use 'src/styles/vars';

.not-found {
  margin: vars.$gutter;
  text-align: center;
  color: white;

  &-link {
    color: rgb(216, 102, 9);
    padding-top: 1em;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.notfound {
  margin-top: 50px;
}



.title-h1 {
  color: #2a0944;
  font-size: 24px;
  margin-bottom: 100px;
}

.mug-image {
  margin-bottom: 50px;
  width: 20%;
}
