// Generic
$primary-color: #f4a261;
$alt-color: #2a9d8f;
$dark-color: #264663;
$light-color: #e9c46a;
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: #000;

// Post
$post-text-color: #666;
$post-hover-color: #f7f7f7;
