@use 'reset';
@use 'vars';

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fff6ea;
    padding-right: 100px;
    padding-left: 100px;
  }

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
