
.cards{
  width: calc(600*3);
} 
.card {
	color: black;
	padding-left: 1em; 
  padding-right: 1em;
	border-radius: 15px;
	transition: 200ms;
}
.card:last-child{
  margin-right: 0;
}
.card-header {
  width: 80%;
  margin: auto;
}
.profile {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	margin: 10px;
	font-size: 1em;
	font-weight: bold;
  padding-top: 1%;
}

.avatar {
	vertical-align: middle;
   max-width: 80%; 
  border-radius: 40px;
}
.card-title-group {
	justify-content: center;
  height: auto;
}
.card-title {
  flex: 0.5;
  font-size: large;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1em;
} 
.card-date {
	flex: 0.3;
	font-size: 0.7em;
  padding-bottom: 1em;
}
.card-image {
  display: flex;
  justify-content: center; 
	border-radius: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
  width: 80%; 
  margin: auto;
 
}
.card-like {
  width: 80%;
  margin: auto;
}
.card-like-icon {
  height: 40px;
  width: 30px;
  padding-left: 5px;
  color: #ff914d;
}
.card-text {
  font-size: 1em;
  text-align: left;
  white-space: normal;
  line-height: 1.4;
  margin-bottom: 1em;
  width: 80%;
  margin: auto;
}

.buttons-ripples {
  border: 1px; 
  color: #fff;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  border-radius: 50px;
  background-color: #ff914d;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.event{
  text-transform: uppercase;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom:0.2em;
  margin-top: 1em;
  
} 

/* .event :first-child {
  margin-top: 0;
} */
.divButton {
  display: flex;
 justify-content: center; 
}
@media screen and (min-width:800px){
  .card {
    border-radius: 15px;
    margin-right: 35px;
    color: #272727;
    transition: 200ms;
    margin-right:10px; 
    margin-top: 1em;
    padding-bottom: 0.5em;
  }
  .event{
    font-size: 1em;
    padding-top: 3em;
    padding-bottom: 0.2em;
    border-bottom: solid 1px rgb(172, 171, 171);
    width: 80%;
    margin: auto;
  }
  .card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 80%;
    margin: auto;
  
  }
  .card-text {
    margin-bottom: 1em;
    margin-left: 1.5;  
  }

  .avatar {
    vertical-align: middle;
    max-width: 80%;
    border-radius: 40px;
  }

 /*  .card-image {
    width: 80%;
  }

  .card-like {
    width: 80%;
  }
  
  .card-text {
    width: 80%;
  } */
  
}



 