
.card {
	color: black;
	padding-left: 1em; 
  padding-right: 1em;
	border-radius: 15px;
  background-color: white;
  padding-top: 1em;
}
.card:last-child{
  margin-right: 0;
}
.card-header {
  /* width: 80%; */
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center; 
}
.profile {
  width: 2.9rem;
  height: 2.9rem;
  justify-content: center;
  margin-right: 1em; 
}

.avatar {
  max-width: 80%;
  border-radius: 50%;
  vertical-align: center;
}
.card-title-group {
 justify-content: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle; 
}
.card-title {
  flex: 0.5;
font-size: 1.3em;
font-weight: lighter;
margin-bottom: 0;
margin-top: 0;
} 
.card-date {
	flex: 0.3;
font-size: small;
margin-bottom: 10px;
}
.card-image {
  display: flex;
justify-content: center;
border-radius: 10px;
margin-bottom: 20px;
margin-top: 20px;
width: 90%;
margin: auto;
margin-top: 1em;
}
.card-like {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.card-like-icon {
  height: 40px;
width: 30px;
padding-left: 5px;
color :#92908d;  
}
/* .card-like-counter {
  color: #ff914d;
  padding-left: 5px;
  padding-top: 0.8em;
  font-weight: bold;
} */
.card-text {
  font-size: 1em;
  text-align: left;
  // white-space: normal;
  line-height: 1.4;
 /*  margin-bottom: em; */
  width: 90%;
  margin: auto;
}

.event{
  text-transform: uppercase;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  
} 

/* .event :first-child {
  margin-top: 0;
} */
.divButton {
  display: flex;
  justify-content: center; 
}
@media screen and (min-width:800px){
  .card {
    width: 30%;
    border-radius: 15px;
    margin-right: 35px;
    color: #272727;
    transition: 200ms;
    margin-right:10px; 
    margin-top: 1em;
    padding-bottom: 0.5em;
  }
  .event{
    font-size: 1.2em;
    padding-top: 3em;
    padding-bottom: 0.2em;
    border-bottom: groove 2px rgb(172, 171, 171);
    width: 80%;
    margin: auto;
    margin-bottom:1em;
  }

  .card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 80%;
    margin: auto;
  
  }
  .card-text {
    margin-bottom: 1em;
    margin-left: 1.5;  
  }

  .avatar {
    vertical-align: middle;
    max-width: 80%;
    border-radius: 40px;
  }
  .buttons-ripples {background-image: linear-gradient(to right, #AA076B 0%, #2A0944  51%, #AA076B  100%)}
  .buttons-ripples {
    border: none;
     margin-bottom: 10px; 
     margin-top: 10px; 
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 8px;
    display: block;
   }
   .buttons-ripples:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   } 
}



 