
.cards{
  width: calc(600*3); 
  /* display: flex;
  justify-content: space-between; */
  
} 

.card {
    /* border: 1px solid black;  */
	/* background-color: white; */
	color: #272727;
	padding-left: 1em; 
  padding-right: 1em;
  padding-top: 1em;
	border-radius: 15px;
	transition: 200ms;
  
/*   width: 100%; */
  max-height: calc(600*3);
   /* margin-right:10px;
   margin-bottom: 10px;  */
 
  
}
.card:last-child{
  margin-right: 0;
}

/*  */

.profile {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
	justify-content: center;
  padding-top: 1%;
  position:relative;
}

.avatar {
	vertical-align: middle;
  max-width: 80%;
  position: absolute;
  border-radius: 40px;
}
.card-title-group {
	justify-content: center;
}
.card-title {
	flex: 0.5;
	font-size: medium;
	margin-bottom: 0;
	margin-top: 0;
}
.card-date {
	flex: 0.3;
	font-size: small;
	margin-bottom: 10px;
}
.card-image {
  display: flex;
  justify-content: center;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
  width: 90%;
  margin: auto;
 
}
.card-like {
  display: flex;
  justify-content: flex-start;

}
.card-like-icon {
  height: 40px;
  width: 30px;
  padding-left: 5px;
  color: #ff914d;
  margin-left:19px;
  /* background: orange; */

}
.card-text {
  font-size: medium;
  padding-right: 2em;
  white-space: normal;
  line-height: 1.4;
  margin-bottom: 1em;
}

.buttons-ripples {
  border: 1px;
  color: #fff;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
	// border: 1px solid;
	// border-color: #2a0944;
  border-radius: 50px;
  background-color: #ff914d;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1.5em;
  padding-right: 1.5em; 
}
.event{
  text-transform: uppercase;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom:0.2em;
  margin-top: 2em;
  
} 

.event :first-child {
  margin-top: 0;
}
.divButton {
  display: flex;
  justify-content: center;
  
}
@media screen and (min-width:800px){
  .card {
    border-radius: 15px;
    margin-right: 35px;
    color: #272727;
	  /* padding: 1em; */
	/* border-radius: 15px; */
	transition: 200ms;
  height: 600px;
   margin-right:10px; 
   margin-top: 1em;
   padding-bottom: 0.5em;
  }
  .card-title {
    flex: 0.5;
    font-size: large;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;}
  .event{
  font-size: 30px;
  margin-bottom:40px;
  margin-top: 2em;
  padding: 15px;
  border-bottom: solid 1px rgb(104, 103, 103);
  }
  /* body{
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
    margin: auto;
  } */

  .card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  
  }

  .divButton {
    margin-bottom: 2em;
  }
  
}



 