.contactPage--text{
  font-size: 3em;
  text-align: center;
  margin: 1em;
  font-weight: bold;
}
.contactForm{
  width: 60%;
  margin: auto;
  margin-top: 2em;
  background-color: rgb(233, 227, 217);
  display: flex;
  flex-direction: column;
  align-items: center;
  &--nameInput{
    height: 3em;
  }
  &--nameInput, &--messageInput{
    width: 60%;
    margin-top: 3em;
  }
  &--button{
    margin: 2em;
    height: 3em;
    width: 6em;
  }
}

