.loading{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: rotation 5s linear infinite;

}
#globe-load{
  font-size: 5em;
  @-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
}
